# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vsidx

Builds/VisualStudio2022/.vs/LightControl/v17/

Builds/VisualStudio2022/

JuceLibraryCode/

Media/yana.mp3

Media/yana.mp3.reapeaks

Media/yana.mp3.reapindex

OpenRGB.exe - Shortcut.lnk

plugin_test.rpp

LightControl.jucer
